<% provide(:title, @service.title) %>
<% provide(:description, @service.short_description) %>

<% content_for :bat do %>
    This content00000000 will show up in the footer section
<% end %>

    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%=t :services_title_1 %> <span><%= @service.title %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="m-top-50">
      <div class="test"><%= @service.text.html_safe %></div>
      <% if signed_in? && current_user.admin? && !current_user?(@users) %>
          <%= link_to 'Back', services_path %>
          | <%= link_to 'Edit', edit_service_path(@service) %>
      <% end %>
      <div class="clear"></div>
    </div>


