<% provide(:title, @service.title) %>
<% provide(:description, @service.short_description) %>


<div class="section services" id="services">
  <div class="container">
    <div class="arrow 05">
      <%= image_tag("arrow/arrow_01.png", alt: "arrow_01") %>
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%=t :services_title_1 %> <span><%= @service.title %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="m-top-50">
      <div class="test"><%= @service.text.html_safe %></div>
      <% if signed_in? && current_user.admin? && !current_user?(@users) %>
          <%= link_to 'Back', services_path %>
          | <%= link_to 'Edit', edit_service_path(@service) %>
      <% end %>
      <div class="clear"></div>
    </div>
  </div>
</div>