<div class="section about" id="about">
  <div class="container">
    <div class="arrow 01">
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%=t :about_title_1 %> <span> <%=t :about_title_2 %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="row">
    <div class="col-xs-6">
      <div class="m-bottom-40 summary">
        <%=t :about_content_1 %><br><br><%=t :about_content_2 %>
      </div>
      <!-- <div class="m-bottom-40 summary-small">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere doloremque laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
      </div> -->
      <p>
        <%=t :about_content_3 %>
      </p>
      <p>
        <%=t :about_content_4 %>
      </p>
    </div>
    <div class="col-xs-6">
      4-5 main service icon <img src="images/about/about_image.png" class="m-bottom-50" alt="image_01"/>
      <p>
        <%=t :about_content_5 %>
      </p>
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>