<div class="section about" id="about">
  <div class="container">
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%= t :about_title_1 %> <span> <%= t :about_title_2 %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
  <div class="about-banner">
    <%= link_to  'http://imagine2015.magento.com', target: "_blank", class: "", data: {no_turbolink: true} do %>
        <%= image_tag("banners/imagine2015.png", alt: "First slide") %>
    <% end %>
  </div>
    <div class="row">
      <div class="col-xs-3">
        <h4>Our Partners</h4>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item next left">
              <%= image_tag("partners/a_head.png", alt: "First slide") %>
            </div>
            <div class="item active left">
              <%= image_tag("partners/anrom.png", alt: "First slide") %>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        <h4>Our Certifications</h4>

        <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("certificates/magento_u.png", alt: "First slide") %>
            </div>
            <div class="item">
              <%= image_tag("certificates/google_ad.png", alt: "First slide") %>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="col-xs-6">
        <p>

        <h4>Blog post</h4>

            <h5><%= @last_article.title %></h5>
            <p><%= truncate(@last_article.short_description.html_safe, length: 550) %></p>
            <%= link_to_unless_current("#{t :news_content_1}", {controller: 'articles', action: 'show', permalink: @last_article.permalink}, class: "", style: "", data: {no_turbolink: true}) %> | <%= link_to "All news", blog_path, class: "rounded", data: {no_turbolink: true} %>
            <br><small><%= @last_article.created_at.to_formatted_s(:day_month_and_year) %></small><br><br>




        </p>
      </div>
      <div class="col-xs-3">
        <h4>Last Extention <span class="label label-info">It's free</span></h4>
        <h5>First Extention.</h5>

        <p>Hello Everybody! Today is our 100th <%= link_to 'Download', root_path, class: "rounded", data: {no_turbolink: true} %></p>
        <h5>First Extention.</h5>

        <p>Hello Everybody! Today is our 100th <%= link_to 'Download', root_path, class: "rounded", data: {no_turbolink: true} %></p>
        <h5>First Extention.</h5>

        <p>Hello Everybody! Today is our 100th <%= link_to 'Download', root_path, class: "rounded", data: {no_turbolink: true} %></p>

      </div>
    </div>
    <div class="clearfix"></div>
    <div class="about-us">
      <p>Creative minds. Technical perfection. Big picture focus. Our team of certified Magento developers, consultants
        and designers takes care of our clients’ businesses striving for excellence in everything we do. Find more about
        our team, our services or get in touch if you want to work with us.
        Find more about our team, our services or get in touch if you want to work with us.</p>
    </div>
    <div class="ecosystem">
    <h4>Our Magento Ecosystem</h4>
      <div class="row eco-logos text-center jumbotron">
        <div class="col-xs-2"> <%= image_tag("ecosystem/es-1.jpg", alt: "First slide") %></div>
        <div class="col-xs-2"> <%= image_tag("ecosystem/es-2.jpg", alt: "First slide") %></div>
        <div class="col-xs-2"> <%= image_tag("ecosystem/es-3.jpg", alt: "First slide") %></div>
        <div class="col-xs-2"> <%= image_tag("ecosystem/es-4.jpg", alt: "First slide") %></div>
        <div class="col-xs-2"> <%= image_tag("ecosystem/es-5.jpg", alt: "First slide") %></div>
        <div class="col-xs-2"><%= image_tag("ecosystem/es-6.jpg", alt: "First slide") %></div>
      </div>
    </div>
  </div>
</div>

