<script>
    $(document).ready(function(){
        document.getElementById("uploadBtn").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
        };
    });
</script>
<div class="section contact-us" id="contact-us">
  <div class="container">
    <div class="arrow 04">
      <img src="images/arrow/arrow_04.png" alt="arrow_05">
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%=t :contact_title_1 %> <span><%=t :contact_title_2 %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="row">
    <div class="col-xs-4 column-340  m-top-50 m-right-115 contact-form contact-us-x">
      <div class="column-340">
        <div class="summary m-bottom-40">
          <%=t :contact_content_1 %>
        </div>
        <p class="m-bottom-22"></p>
      </div>
      <div class="clear"></div>
      <%= render 'shared/contact_form'%>
    </div>
    <div class="col-xs-8 column-525 m-top-50">
      <div class="summary m-bottom-40">
        <%=t :contact_content_6 %>
      </div>
      <p class="m-bottom-22">
        <img src="images/kiev_01.jpg" alt="Emaster Location" class="img-rounded">
      </p>

      <address>
        <strong><%=t :contact_content_22 %></strong><br>
        <%=t :contact_content_8 %><br>
        <%=t :contact_content_9 %>, <%=t :contact_content_10 %><br>
        <abbr title="Phone">Phone:</abbr> <%=t :contact_content_11 %> <br>
        <abbr title="Skype">Skype:</abbr> <%=t :contact_content_23 %>
      </address>
       <br>
      <address>
        <strong><%=t :contact_content_24 %></strong><br>
        <a href="mailto:<%=t :contact_content_12 %>"><%=t :contact_content_12 %></a>
      </address>
      <br>
      <div class="socio_contact m-top-50">
        <ul>
          <li><a href="https://twitter.com/Sitemaster_Dev" target="_blank" class="socio_contact_twitter"></a></li>
          <li><a href="https://www.facebook.com/sitemaster.development" target="_blank" class="socio_contact_facebook"></a></li>
          <li><a href="http://vk.com/sitemas_com_ua_development" target="_blank" class="socio_contact_vk"></a></li>
          <li><a href="https://www.linkedin.com/groups/Sitemaster-Create-web-mobile-app-7469623" target="_blank" class="socio_contact_in"></a></li>
          <li><a href="https://plus.google.com/117461570487313641572" rel="publisher" target="_blank" class="socio_contact_google"></a></li>
        </ul>
      </div>
    </div>



    <div class="clearfix"></div>
    </div>
  </div>
</div>