<div class="section our-team" id="our-team">
  <div class="container">
    <div class="arrow 04">
      <img src="images/arrow/arrow_04.png" alt="arrow_04" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%=t :team_title_1 %> <span><%=t :team_title_2 %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
    <div class="col-xs-4">
      <img src="images/team/team_01.png" class="m-bottom-30" alt="team_01" />
      <div class="team-member-name  m-bottom-10">
        <%=t :team_content_3 %>
      </div>
      <div class="team-member-position">
        <%=t :team_content_4 %>
      </div>
      <div class="socio">
        <ul>
          <!--<li><a href="#" target="_blank" class="socio_twitter"></a></li>-->
          <!--<li><a href="#" target="_blank" class="socio_facebook"></a></li>-->
          <!--<li class="last"><a href="#" target="_blank" class="socio_linkedin"></a></li>-->
        </ul>
        <div class="clear"></div>
      </div>
      <p>

      </p>
    </div>
    <div class="col-xs-4">
      <img src="images/team/team_02.png" class="m-bottom-30" alt="team_02" />
      <div class="team-member-name  m-bottom-10">
        <%=t :team_content_5 %>
      </div>
      <div class="team-member-position">
        <%=t :team_content_6 %>
      </div>
      <div class="socio">
        <ul>
          <!--<li><a href="#" target="_blank" class="socio_twitter"></a></li>-->
          <!--<li><a href="#" target="_blank" class="socio_facebook"></a></li>-->
          <!--<li class="last"><a href="#" target="_blank" class="socio_linkedin"></a></li>-->
        </ul>
        <div class="clear"></div>
      </div>
      <p>

      </p>
    </div>
    <div class="col-xs-4">
      <img src="images/team/team_03.png" class="m-bottom-30" alt="team_03" />
      <div class="team-member-name  m-bottom-10">
        <%=t :team_content_7 %>
      </div>
      <div class="team-member-position">
        <%=t :team_content_8 %>
      </div>
      <div class="socio">
        <ul>
          <!--<li><a href="#" target="_blank" class="socio_twitter"></a></li>-->
          <!--<li><a href="#" target="_blank" class="socio_facebook"></a></li>-->
          <!--<li class="last"><a href="#" target="_blank" class="socio_linkedin"></a></li>-->
        </ul>
        <div class="clear"></div>
      </div>
      <p>
      </p>
    </div>
    </div>
  </div>
</div>