<div class="toggler-menu" id="toggler-menu">
<div class="navigation">
  <ul>
    <li>
      <a href="#take-me-home" class="nav-active rounded"><span><%=t :menu_1 %></span></a>
    </li>
    <li>
      <a href="#about" class="rounded"><span><%=t :menu_2 %></span></a>
    </li>
    <li>
      <a href="#services" class="rounded"><span><%=t :menu_3 %></span></a>
    </li>
    <li>
      <a href="#showcase" class="rounded"><span><%=t :menu_4 %></span></a>
    </li>
    <li>
      <a href="#our-team" class="rounded"><span>Free Stuff</span></a>
    </li>
    <li>
        <a href="#news" class="rounded"><span><%=t :menu_7 %></span></a>
    </li>
    <li>
      <a href="#contact-us" class="rounded"><span><%=t :menu_6 %></span></a>
    </li>
  </ul>
</div>
</div>
  <div id="clouse-menu-button" class="ui-state-default" style="display: none"></div>
  <div id="open-menu-button" class="ui-state-default-op" style="display: none"></div>
