<div class="section services" id="services">
  <div class="container">
    <div class="arrow 02">
      <img src="images/arrow/arrow_02.png" alt="arrow_02" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%=t :services_title_1 %> <span><%=t :services_title_2 %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="column-640 m-top-50">
      <div class="summary">
        <%=t :services_content_1 %>
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <p>
        <%=t :services_content_2 %>
      </p>
    </div>
    <div class="clear"></div>
    <div class="column-455 m-right-70 m-top-70">
      <% if I18n.locale == :en %>
          <img src="images/services/services_image.png" alt="image_02" />
      <% elsif I18n.locale == :ru %>
          <img src="images/services/services_image_ru.png" alt="image_02" />
      <% end %>
    </div>
    <div class="column-455 m-top-70">
      <ul class="services-list">
        <li>
          <img src="images/services/services_icon_01.png" alt="icon_01" />
          <span class="service-title"><%=t :services_content_3 %></span>
          <p>
            <%=t :services_content_4 %>
          </p>
        </li>
        <li>
          <img src="images/services/services_icon_02.png" alt="icon_02" />
          <span class="service-title"><%=t :services_content_5 %></span>
          <p>
            <%=t :services_content_6 %><br>
          </p>
        </li>
        <li>
          <img src="images/services/services_icon_03.png" alt="icon_03" />
          <span class="service-title"><%=t :services_content_7 %></span>
          <p>
            <%=t :services_content_8 %>
          </p>
        </li>
        <li>
          <img src="images/services/services_icon_04.png" alt="icon_04" />
          <span class="service-title"><%=t :services_content_9 %></span>
          <p>
            <%=t :services_content_10 %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>