<div class="section showcase" id="showcase">
  <div class="container">
    <div class="arrow 03">
      <img src="images/arrow/arrow_03.png" alt="arrow_03" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%=t :showcase_title_1 %>  <span><%=t :showcase_title_2 %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="column-640 m-top-50">
      <div class="summary">
        <%=t :showcase_content_1 %>
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <p>
        <%=t :showcase_content_2 %>
      </p>
    </div>
    <div class="clear"></div>
    <div class="showcase-sub-container">
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_01.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_01.jpg" alt="image_01" /></a>
        </div>
        <span><%= link_to_unless_current(Project.find_by_id(1).title, {controller:'projects' , action: 'show', permalink: Project.find_by_id(1).permalink}, class: "showcase-link", data: { no_turbolink: true }) %>
          </span>
        <p>
          E Commerce / Php / Magento
          <br><a class="showcase-link" href="http://4auto-service.com.ua/" target="_blank">4auto-service.com.ua</a>
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_02.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_02.jpg" alt="image_02" /></a>
        </div>
        <span>Pokanalam</span>
        <p>
          Website / Php / Wordpress
          <br><a class="showcase-link" href="http://pokanalamspb.ru/" target="_blank">pokanalamspb.ru</a>
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_03.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_03.jpg" alt="image_03" /></a>
        </div>
        <span>Autotech</span>
        <p>
          E Commerce / Php / Magento
          <br><a class="showcase-link" href="http://autotech.ua/" target="_blank">www.autotech.ua</a>
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_04.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_04.jpg" alt="image_04" /></a>
        </div>
        <span>Twok</span>
        <p>
          Ruby on Rails / Website
          <br><a class="showcase-link" href="https://afternoon-stream-4552.herokuapp.com/" target="_blank">twok</a>
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_05.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_05.jpg" alt="image_05" /></a>
        </div>
        <span>Dr Pepper Ukraine</span>
        <p>
          E Commerce / Php / Magento
          <br><a class="showcase-link" href="http://drpepper.net.ua/" target="_blank">drpepper.net.ua</a>
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_06.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_06.jpg" alt="image_06" /></a>
        </div>
        <span>Ua Bazar</span>
        <p>
          E Commerce / Php / Magento
          <br><a class="showcase-link" href="http://ua-bazar.com/" target="_blank">ua-bazar.com</a>
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_07.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_07.jpg" alt="image_07" /></a>
        </div>
        <span>LifeHouse</span>
        <p>
          Website / Php / Wordpress
          <br><a class="showcase-link" href="http://lifehouse.com.ua/" target="_blank">lifehouse.com.ua</a>
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_08.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_08.jpg" alt="image_08" /></a>
        </div>
        <span>Motoshow</span>
        <p>
          Website / Php
          <br><a class="showcase-link" href="http://motoshow.com.ua/" target="_blank">motoshow.com.ua</a>
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="images/portfolio/originals/portfolio_large_09.png" title="Lorem Ipsum"><span class="roll"></span><img src="images/portfolio/thumbs/portfolio_small_09.jpg" alt="image_09" /></a>
        </div>
        <span>Megaprofil</span>
        <p>
          Website / Php / Drupal
          <br><a class="showcase-link" href="http://megaprofil.net.ua/" target="_blank">megaprofil.net.ua</a>
        </p>
      </div>

    </div>
  </div>
</div>