<%= render 'static_pages/loader' %>
<%= render 'static_pages/navigation' %>


<div id="scrollable">
<%= render 'static_pages/topheadermenu' %>
<%= render 'static_pages/topheader' %>
<%= render 'static_pages/take_me_home' %>
<%= render 'static_pages/about' %>
<%= render 'static_pages/services' %>
<%= render 'static_pages/showcase' %>
<%= render 'static_pages/free_stuff' %>
<%= render 'static_pages/news' %>
<%= render 'static_pages/contact_us' %>
<%= render 'static_pages/footermenu' %>
<%= render 'static_pages/footer' %>
</div>
