<div id="about" class="main-content">
  <div class="container">
    <% provide(:title, "#{t :form_1}") %>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%= t :form_1 %> <span> </span>
      </div>
      <div class="subheader-separator"></div>
    </div>


    <div class="column-455 m-right-70 m-top-50">

      <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
      <%end %>

      <div class="span6 offset3">
        <%= form_for(:session, url: sessions_path, html: {class: 'sign_user'}) do |f| %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.submit "#{t :form_1}", class: "submit-btn rounded", style: "float: left", id: "submit-mail", data: {:'disable-with' => "#{t :contact_content_15}"} %>
        <% end %>

        <br>
        <br>
        <br>
        <!--<p>New user? <% link_to "Sign up now!", signup_path %></p>-->
      </div>
    </div>
  </div>
</div>