<div class="toggler-menu" id="toggler-menu">
  <% if current_page?('/')  %>
      <div class="navigation">
        <ul>
          <li>
            <a href="#take-me-home" class="nav-active rounded"><span><%=t :menu_1 %></span></a>
          </li>
          <li>
            <a href="#about" class="rounded"><span><%=t :menu_2 %></span></a>
          </li>
          <li>
            <a href="#services" class="rounded"><span><%=t :menu_3 %></span></a>
          </li>
          <li>
            <a href="#showcase" class="rounded"><span><%=t :menu_4 %></span></a>
          </li>
          <li>
            <a href="#contact-us" class="rounded"><span><%=t :menu_7 %></span></a>
          </li>
        </ul>
      </div>
  <% else %>
      <div class="navigation-head">
        <ul>
          <li>
            <%= link_to root_path, class: "rounded", data: {no_turbolink: true} do %>
            <span><%= t :menu_1 %></span>
             <% end %>
          </li>
          <li>
            <%= link_to  "/#{custom_locale_link}#services", class: "rounded", data: {no_turbolink: true} do %>
                <span><%= t :menu_3 %></span>
           <% end %>
          </li>
          <li>
            <%= link_to "/#{custom_locale_link}#showcase", class: "rounded", data: {no_turbolink: true} do %>
                <span><%= t :menu_4 %></span>
            <% end %>
          </li>
          <% if signed_in? %>
              <br>
              <br>
              <li><%= link_to  users_path, class: "rounded", data: {no_turbolink: true} do %><span><%= t :menu_8 %></span><% end %></li>
              <li><%= link_to  current_user, class: "rounded", data: {no_turbolink: true} do %><span><%= t :menu_9 %></span><% end %></li>
              <li><%= link_to edit_user_path(current_user), class: "rounded", data: {no_turbolink: true} do %><span><%= t :menu_10 %></span><% end %></li>
              <li><%= link_to  signout_path, method: "delete", class: "rounded", data: {no_turbolink: true} do %><span><%= t :menu_11 %></span><% end %></li>
              <br>
              <br>
              <li><%= link_to  edit_services_path, class: "rounded", data: {no_turbolink: true} do %><span><%= t :menu_12 %></span><% end %></li>
              <li><%= link_to  edit_projects_path, class: "rounded", data: {no_turbolink: true} do %><span><%= t :menu_13 %></span><% end %></li>
              <li><%= link_to  edit_news_path, class: "rounded", data: {no_turbolink: true} do %><span><%= t :menu_14 %></span><% end %></li>
              <li><%= link_to  edit_pages_path, class: "rounded", data: {no_turbolink: true} do %><span><%= t :menu_15 %></span><% end %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

</div>
  <div id="clouse-menu-button" class="ui-state-default" style="display: none"></div>
  <div id="open-menu-button" class="ui-state-default-op" style="display: none"></div>
