<div class="toggler-menu" id="toggler-menu">
  <% if current_page?('/')  %>
      <div class="navigation">
        <ul>
          <li>
            <a href="#take-me-home" class="nav-active rounded"><span><%=t :menu_1 %></span></a>
          </li>
          <li>
            <a href="#about" class="rounded"><span>General info</span></a>
          </li>
          <li>
            <a href="#services" class="rounded"><span><%=t :menu_3 %></span></a>
          </li>
          <li>
            <a href="#showcase" class="rounded"><span><%=t :menu_4 %></span></a>
          </li>
          <li>
            <a href="#contact-us" class="rounded"><span>Get a free quote</span></a>
          </li>
        </ul>
      </div>
  <% else %>
      <div class="navigation-head">
        <ul>
          <li>
            <%= link_to root_path, class: "rounded", data: {no_turbolink: true} do %>
            <span><%= t :menu_1 %></span>
             <% end %>
          </li>
          <li>
            <%= link_to  '/#services', class: "rounded", data: {no_turbolink: true} do %>
                <span><%= t :menu_3 %></span>
           <% end %>
          </li>
          <li>
            <%= link_to '/#showcase', class: "rounded", data: {no_turbolink: true} do %>
                <span><%= t :menu_4 %></span>
            <% end %>
          </li>
          <% if signed_in? %>
              <br>
              <br>
              <li><%= link_to  users_path, class: "rounded", data: {no_turbolink: true} do %><span>Users</span><% end %></li>
              <li><%= link_to  current_user, class: "rounded", data: {no_turbolink: true} do %><span>My user</span><% end %></li>
              <li><%= link_to edit_user_path(current_user), class: "rounded", data: {no_turbolink: true} do %><span>Settings</span><% end %></li>
              <li><%= link_to  signout_path, method: "delete", class: "rounded", data: {no_turbolink: true} do %><span>Sign out</span><% end %></li>
              <br>
              <br>
              <li><%= link_to  edit_services_path, class: "rounded", data: {no_turbolink: true} do %><span>Edit Services</span><% end %></li>
              <li><%= link_to  edit_projects_path, class: "rounded", data: {no_turbolink: true} do %><span>Edit Projects</span><% end %></li>
              <li><%= link_to  edit_news_path, class: "rounded", data: {no_turbolink: true} do %><span>Edit News</span><% end %></li>
              <li><%= link_to  edit_pages_path, class: "rounded", data: {no_turbolink: true} do %><span>Edit Pages</span><% end %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

</div>
  <div id="clouse-menu-button" class="ui-state-default" style="display: none"></div>
  <div id="open-menu-button" class="ui-state-default-op" style="display: none"></div>
