<% provide(:title, "#{t :news_content_2}") %>
<body data-no-turbolink="true">
<!--http://stackoverflow.com/questions/22326473/rails-4-disable-turbolinks-in-a-specific-page-->
<div class="subheader">
  <div class="subheader-icon"></div>
  <div class="subheader-text">
    <%= t :news_content_2 %> <span>
    <% if signed_in? && current_user.admin? && !current_user?(@users) %>
        <%= link_to "#{t :news_content_4}", new_article_path %>
        <% end %>
        </span>
  </div>
  <div class="subheader-separator"></div>
  <div class="m-top-50">

    <%= will_paginate renderer: BootstrapPagination::Rails %>
    <% @articles.each do |article| %>

        <h2><%= article.title %></h2>

        <div class="article-image"><%= image_tag article.attachment.url %></div>
        <div class="test"><%= truncate(article.short_description.html_safe, length: 840) %></div>
        <% article.permalink %>
        <%= link_to_unless_current("#{t :news_content_1}", {controller: 'articles', action: 'show', permalink: "#{article.permalink}.html"}, class: "", style: "", data: {no_turbolink: true}) %>
        <br><small><%= article.created_at.to_formatted_s(:day_month_and_year) %></small><br><br>

        <% if signed_in? && current_user.admin? && !current_user?(@users) %>
        <%= link_to "#{t :news_content_3}", edit_article_path(article), data: {no_turbolink: true} %>
        <%= link_to "#{t :news_content_5}", article_path(article), method: :delete, data: {confirm: "#{t :main_content_1}", no_turbolink: true} %>
        <% end %>

        <div class="clearfix"></div>
        <div style="border-bottom: 1px solid #E5E5E5;"></div>
    <% end %>
    <%= will_paginate renderer: BootstrapPagination::Rails  %>

  </div>
  <div class="clearfix"></div>
</div>
