<% provide(:title, 'Edit Articles') %>

<div class="subheader">
  <div class="subheader-icon"></div>
  <div class="subheader-text">
    Articles <span>
    <% if signed_in? && current_user.admin? && !current_user?(@users) %>
        <%= link_to 'New article', new_article_path %>
        <% end %>
        </span>
  </div>
  <div class="subheader-separator"></div>
  <div class="m-top-50">

    <%= will_paginate renderer: BootstrapPagination::Rails %>
    <% @articles.each do |article| %>

        <h2><%= article.title %></h2>

        <div class="article-image"><%= image_tag article.attachment.url %></div>
        <div class="test"><%= truncate(article.text.html_safe, length: 750) %></div>
        <% article.permalink %>

        <%= link_to_unless_current("Show", {controller: 'articles', action: 'show', permalink: article.permalink}, class: "", style: "", data: {no_turbolink: true}) %>
        <% if signed_in? && current_user.admin? && !current_user?(@users) %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>

        <div class="clearfix"></div>
        <div style="border-bottom: 1px solid #E5E5E5;"></div>
    <% end %>
    <%= will_paginate renderer: BootstrapPagination::Rails  %>

  </div>
  <div class="clearfix"></div>
</div>
