<% provide(:title, @article.title) %>
<% provide(:description, truncate(@article.short_description.html_safe, length: 250)) %>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%=t :news_title_1 %>: <span><%= @article.title %></span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="m-top-50">
      <% if @article.attachment? %>
      <div class="content-image"><%= image_tag @article.attachment.url %></div>
      <%end %>
    <div class="test"><%= @article.text.html_safe %></div>
      <%= link_to "#{t :main_content_2}", root_path , data: {no_turbolink: true} %> | <%= link_to "#{t :news_content_2}", articles_path , data: {no_turbolink: true} %>
    <% if signed_in? && current_user.admin? && !current_user?(@users) %>
    | <%= link_to "#{t :news_content_3}", edit_article_path(@article) %>
    <% end %>
    <div class="clear"></div>
  </div>
