<% provide(:title, "Edit user") %>
<div id="about" class="main-content">
  <div class="container">
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        Update your profile <span> </span>
      </div>
      <div class="subheader-separator"></div>
    </div>


    <div class="column-455 m-right-70 m-top-50">
      <div class="span6 offset3">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirm Password" %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit "Save changes", class: "submit-btn rounded", style: "float: left", id: "submit-mail", data: {:'disable-with' => "#{t :contact_content_15}"} %>
        <% end %>
        <br>
        <br>
        <br>
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails">change</a>
      </div>
    </div>
  </div>
</div>