<% provide(:title, 'All users') %>
<div id="about" class="main-content">
  <div class="container">
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        All users <span> </span>
      </div>
      <div class="subheader-separator"></div>
    </div>
    <div class="column-455 m-right-70 m-top-50">


      <%= will_paginate %>
      <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
      <%end %>
      <br>
      <br>
      <ul class="users">
        <%= render @users %>
      </ul>

      <%= will_paginate %>
    </div>
  </div>
</div>