<% provide(:title, "#{t :page_content_2}") %>
<div class="main-content" id="">
  <div class="container">
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        <%= t :page_content_2 %> <span></span>

      </div>
      <div class="subheader-separator"></div>
      <div class="m-top-50">
        <%= link_to "#{t :page_content_4}", new_page_path %>
        <br>
        <br>

        <%= will_paginate renderer: BootstrapPagination::Rails %>
        <table class="table">
          <% @pages.each do |page| %>
              <tr>
                <td><%= page.title %></td>
                <td><%= truncate(page.text, length: 150) %></td>
                <td><%= truncate(page.short_description, length: 150) %></td>
                <td><%= page.permalink %></td>
                <td><%= link_to_unless_current("#{t :page_content_1}", {controller: 'pages', action: 'show', permalink: "#{page.permalink}.html"}, class: "", style: "", data: {no_turbolink: true}) %>
                <td>
                <td><%= link_to "#{t :page_content_3}", edit_page_path(page), data: {no_turbolink: true} %></td>
                <td><%= link_to "#{t :page_content_5}", page_path(page), method: :delete, data: {confirm: "#{t :main_content_1}",no_turbolink: true} %></td>
              </tr>
          <% end %>
        </table>
        <%= will_paginate renderer: BootstrapPagination::Rails %>

      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
