<% provide(:title, @page.title) %>
<% provide(:description, @page.short_description) %>
<div class="subheader">
  <div class="subheader-icon"></div>
  <div class="subheader-text">
    Page: <span><%= @page.title %></span>
  </div>
  <div class="subheader-separator"></div>
</div>
<div class="m-top-50">

  <div class="test"><%= @page.text.html_safe %></div>
  <% if @page.attachment? %>
      <br>
      <%= link_to @page.attachment_file_name, @page.attachment.url, class: "rounded" if @page.attachment? %>
  <% end %>
  <% if @page.other_attachment? %>
      <br>
      <%= link_to @page.other_attachment_file_name, @page.other_attachment.url if @page.other_attachment? %>
      <br>
  <% end %>

  <%= link_to 'Go to home', root_path , data: {no_turbolink: true} %>
  <% if signed_in? && current_user.admin? && !current_user?(@users) %>
      | <%= link_to 'All page', pages_path , data: {no_turbolink: true} %>
      | <%= link_to 'Edit', edit_page_path(@page) %>
  <% end %>
  <div class="clear"></div>
</div>
