<% provide(:title, @project.title) %>
<% provide(:description, truncate(@project.short_description.html_safe, length: 250)) %>

<div class="subheader">
  <div class="subheader-icon"></div>
  <div class="subheader-text">
    <%= t :showcase_title_1 %> <span><%= @project.title %></span>
  </div>
  <div class="subheader-separator"></div>
</div>
<div class="m-top-50">
  <div class="test"><%= @project.text.html_safe %></div>
  <%= link_to "#{t :main_content_2}", root_path , data: {no_turbolink: true} %>
  <% if signed_in? && current_user.admin? && !current_user?(@users) %>
      | <%= link_to "#{t :project_content_2}", projects_path, data: {no_turbolink: true} %>
      | <%= link_to "#{t :project_content_3}", edit_project_path(@project), data: {no_turbolink: true} %>
  <% end %>
  <div class="clear"></div>
</div>
