<div class="toggler-menu" id="toggler-menu">
  <div class="navigation-head">

    <ul>
      <li>
        <%= link_to "#{t :menu_1}", root_path, class: "rounded", data: {no_turbolink: true} %>
      </li>
      <li>
        <%= link_to "#{t :menu_3}", '/#services', class: "rounded", data: {no_turbolink: true} %>
      </li>
      <li>
        <%= link_to "#{t :menu_4}", '/#showcase', class: "rounded", data: {no_turbolink: true} %>
      </li>
      <% if signed_in? %>
          <br>
          <br>
          <li><%= link_to "Users", users_path, class: "rounded", data: {no_turbolink: true} %></li>
          <li><%= link_to "Profile", current_user, class: "rounded", data: {no_turbolink: true} %></li>
          <li><%= link_to "Settings", edit_user_path(current_user), class: "rounded", data: {no_turbolink: true} %></li>
          <li><%= link_to "Sign out", signout_path, method: "delete", class: "rounded", data: {no_turbolink: true} %></li>
              <br>
              <br>
              <li><%= link_to "Edit Services", edit_services_path, class: "rounded", data: {no_turbolink: true} %></li>
              <li><%= link_to "Edit Projects", edit_projects_path, class: "rounded", data: {no_turbolink: true} %></li>
              <li><%= link_to "Edit News", edit_news_path, class: "rounded", data: {no_turbolink: true} %></li>
      <% end %>
    </ul>
  </div>
</div>
<div id="clouse-menu-button" class="ui-state-default" style="display: none"></div>
<div id="open-menu-button" class="ui-state-default-op" style="display: none"></div>
